<%= form_for @publication, :html => { :class => "form-horizontal publication" } do |f| %>

      <% if @publication.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@publication.errors.count, "error o errores") %> al guardar la actividad:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @publication.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
<br/>
          <br/>
 <div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b>Modificar:   &nbsp;Publicaciones </b></h3>
              </div>
         <div class="panel-body">

          <br/>
          <br/>

            <div class="row">
                <div class="control-group col-lg-7 col-lg-offset-1">
                        <%= f.label :titulo,"Titulo:", :class => 'control-label' %>
                        <div class="controls">
                          <%= f.text_field :titulo, :class => 'form-control' %>
                        </div>
                        <%= error_span(@publication[:titulo]) %>
                  </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                      <div class="control-group col-lg-2 col-lg-offset-1">
                          <%= f.label :revista_editorial,"Revista o Editorial", :class => 'control-label' %>
                         <div class="controls">
                              <%= f.text_field :revista_editorial, :class => 'form-control' , readonly: "true" %>
                            </div>
                          <%= error_span(@publication[:revista_editorial]) %>
                      </div>
                      <div class="control-group col-lg-3 col-lg-offset-2">
                        <%= f.label :arbitr_no_arbitr,"Publicación Arbitrada o No Arbitrada", :class => 'control-label' %>
                          <div class="controls">
                              <%= f.text_field :arbitr_no_arbitr, :class => 'form-control' , readonly: "true" %>
                            </div>
                        <%= error_span(@publication[:arbitr_no_arbitr]) %>
                      </div>

                       <div class="control-group col-lg-2 col-lg-offset-1">
                        <%= f.label :horas, :class => 'control-label' %>
                        <div class="controls">
                          <%= f.number_field :horas, :class => 'form-control', min: 1, max: 10000, required: "true" %>
                        </div>
                        <%= error_span(@publication[:horas]) %>
                      </div>
           </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                  <div class="control-group">
                      <%= f.label :fecha_i,"Fecha Inicio:", :class => 'control-label' %>
                      <div class="controls">
                        <%= f.date_field :fecha_i, :class => 'form-control', min: "2015-01-01", required: "true"  %>
                      </div>
                      <%= error_span(@publication[:fecha_i]) %>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="control-group">
                      <%= f.label :fecha_f, "Fecha Fin:",:class => 'control-label' %>
                      <div class="controls">
                        <%= f.date_field :fecha_f, :class => 'form-control', max: Date.today %>
                      </div>
                      <%= error_span(@publication[:fecha_f]) %>
                    </div>
              </div>

                <div class="control-group col-lg-2 col-lg-offset-1">
                        <%= f.label :ano_periodo, "Año Período:", :class => 'control-label' %>
                        <div class="controls">
                          <%= f.number_field :ano_periodo, :class => 'form-control', min:"2015", max:"2050", readonly: "true" %>
                        </div>
                        <%= error_span(@publication[:ano_periodo]) %>
                </div>
            </div>
              <br/>
            <br/>
            <div class="row">
                 <div class="control-group col-lg-9 col-lg-offset-1">
                    <%= f.label :descripcion, "Descripción:", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_area :descripcion,"cols" => 9, "rows" => 5, :class => 'form-control', required: "true" %>
                    </div>
                    <%= error_span(@publication[:descripcion]) %>
                  </div>
            
            </div>

              
            <br/> 

             <br/>

             <div class="row">     
                   <div class="control-group col-lg-10 col-lg-offset-2">
                     
                        <h4><%= f.label 'Marque a los investigadores que desea asociar a esta actividad:' %> </h4>
                        
                              <br>
                       
                       <div class="controls">
                             
                            <% @users.each  do |user|  %>
                            <div class="col-lg-5">
                              <p class="text-uppercase">  <%= check_box_tag "publication[user_ids][#{user.id}]",nil, @publication.users.member?(user) %>
                              <%= user.nombre_apellido %> </p>
                              </div>
                              <br> <br>
                          <% end %>
                          
                       </div>
                         
                     </div>
                </div>

                <div class="control-group">
                  <%= f.hidden_field :creador, :value => current_user.id %>
                </div>

            <br/>
            <br/>
                <div class="row">

                   <div class="col-lg-4 col-lg-offset-4"> 
                       <%= link_to 'Regresar', menu_academico_administrativo_1_path , :class=> 'btn btn-primary active'%>
                       &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Registrar' , :class => 'btn btn-success btn-lg active' %>
                         &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Borrar', type: :reset , :class => 'btn btn-primary active' %>
                     </div>
              </div>
            <br/>
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 
<% end %>
