<%- model_class = Extension -%>
 <div class="row">
	<div class="col-lg-12 ">
        		<div class="panel panel-primary">
					  <div class="panel-heading">
					    <h3 class="panel-title"> <b>Menu de gestión: &nbsp; Otras actividades de extensión</b></h3>
					  </div>
			  			<div class="panel-body">

<br/><br/>
			<div class="row ">
				 <div class="col-lg-10 col-lg-offset-1 ">
					<ul class="nav nav-tabs nav-justified">
					  <li role="presentation" > <%= link_to "CONSULTAR ACTIVIDADES", menu_extension_2_path, :class=> 'btn btn-info  active' %></li>
					  <li role="presentation"><%= link_to "CREAR ACTIVIDAD", extension_otra_resgistro_path, :class=> 'btn btn-info  active' %></li>
					 
						<% if @extensions.blank? %>
		                   <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", menu_extension_2_path(@extensions, :format => 'pdf'), :class=> 'btn btn-info  active', disabled: true %></li>
		                <%else%>
		                     <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", menu_extension_2_path(@extensions, :format => 'pdf'), :class=> 'btn btn-info  active' %></li>
		                <% end %>
		                  
					</ul>
				  </div>
			  </div>	

						<br/><br/>
						<div class="row">
				            <div class="col-md-3 col-md-offset-1">
				              
				                 <button class="btn btn-success" type="button">
								 <b> ACTIVIDADES ENCONTRADAS </b><span class="badge"><%=@resultados %></span>
								</button>
				              </div> 
				            </div>
						<br/><br/>
					<div class="row">		
						<div class="col-md-5 col-md-offset-4">
							<div class="alert alert-info" role="alert">
							 <h6 class="text-center"><b> ACTIVIDADES REGISTRADAS EN EL PERIODO ACTUAL</b></h6>
							</div>
						</div>
				     </div>
			<div class="row">
            <div class="col-lg-7 col-lg-offset-3">
            <%= paginate @extensions, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
            </div>
            </div>
				<div class="row">		
						<div class="col-lg-12 ">
						        <div class="table-responsive">
								  	<table class="table table-striped">
											  <thead>
											    <tr>
											      <th><%= model_class.human_attribute_name("Id") %></th>
											      <th style="width: 15%"><%= model_class.human_attribute_name("Tipo") %></th>
											      <th style="width: 55%"><%= model_class.human_attribute_name("Nombre") %></th>
											      
											      <th><%= model_class.human_attribute_name("Fecha Inicio") %></th>
											      
											      <th><%=t '.actions', :default => t("helpers.Acción") %></th>
											    </tr>
											  </thead>
											  <tbody>
											  <br/>
					                            <% if @extensions.blank? %>
					                              <h4> <b>&nbsp;&nbsp; No se encontro ninguna actividad para esta busqueda </b></h4>
					                              <br/>
					                            <%else%>
											    <% @extensions.each do |extension| %>
											      <tr>
											        <td><%= link_to extension.id, extension_path(extension) %></td>
											        <td><%= extension.tipo %></td>
											        <td><%= extension.nombre %></td>
											        
											        <td><%= extension.fecha_i %></td>
											        
											        <td>
											        
											          <%= link_to 'Mostrar', extension_otra_ver_path(extension) , :class=> 'btn btn-info btn-xs active'%>
										              <%= link_to 'Editar', extension_otra_modificar_path(extension) , :class=> 'btn btn-warning btn-xs active'%>
										               <%= link_to 'Eliminar', extension, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar la actividad?' }, :class=> 'btn btn-danger btn-xs active'%>

											        </td>
											      </tr>
											    <% end %>
											    <%end%>
											  </tbody>
											</table>

		   <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
            <%= paginate @extensions, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
            </div>
            </div>

                        </div>
						</div>

				</div>		


			  </div>
		</div>
		


	</div>
</div>