<%- model_class = Extension -%>
<div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b> Actividades realizadas por los investigadores Dpto. de Extensión: &nbsp;&nbsp;&nbsp;Tabla de <%=@nombre %></b></h3>
              </div>
         <div class="panel-body">

                <br/><br/>
          <div class="row">
            <div class="col-lg-7 ">
              
                  <div class="alert alert-info" role="alert">
                    <h4 > <em><b> Actividades encontradas de <%=@nombre %>: &nbsp; <%=@cantidad %> </b></em></h4> 
                  </div>
               
            </div>    
              <div class="col-lg-3 col-lg-offset-1">    
                  <ul class="nav nav-tabs nav-justified">
                  
                   <% if @extensions.blank? %>
                       <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", herramientas_tabla_extension_otra_path(@extensions, :format => 'pdf'), :class=> 'btn btn-info  active', disabled: true %></li>
                    <%else%>
                      
                            <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", herramientas_tabla_extension_otra_path(@extensions,:opcion => @opcion, :format => 'pdf'), :class=> 'btn btn-info  active' %></li>
                    <% end %>
                      



                </ul>
              </div>
          </div>
                <br/>
       <% unless @extensions2.blank? %>
          <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
            <%= paginate @extensions2, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
            </div>
            </div>
       <% end %> 
<table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 30%"><%= model_class.human_attribute_name("Profesor") %></th>
                            <th style="width: 70%"><%= model_class.human_attribute_name(@nombre ) %></th>
                           
                           
                          </tr>
                        </thead>
                         <tbody>
                            <br/>
                            <% if @extensions.blank? %>
                              <h4> <b>&nbsp;&nbsp; No se encontro ninguna actividad para esta busqueda </b></h4>
                              <br/>
                            <%else%>
                          <% @extensions.each do |extension| %>
                              
                            <tr>
                             <td><%= extension.descripcion %></td>
                                <td><%= extension.nombre %></td>
                            
                            </tr>
                          <% end %>
                          <% end %>
                        </tbody>
                      </table>
 <% unless @extensions2.blank? %>
              <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
              <%= paginate @extensions2, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
             </div>
          </div>
  <%end%>
       <br/>
               <br/>
               <div class="row">
                  <div class="col-lg-6 col-lg-offset-5">
                  <%= link_to 'Regresar', herramientas_tablas_path , :class=> 'btn btn-success btn-md active'%>
                         &nbsp;&nbsp;&nbsp;
              </div>
              </div>
   </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 