
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b>Actividad en detalle: &nbsp;Jurado</b></h3>
              </div>
         <div class="panel-body">

                <br/>

          <div class="row">
                      <div class="col-lg-4 col-lg-offset-1"> 
                         
                         <%= link_to "Generar documento (PDF)", work_path(@work, :format => 'pdf'), :class=> 'btn btn-info  active' %>
                       </div>
                     </div>
                  <br/> <br/> 
            
               <dl class="dl-horizontal">
                    <dt><strong>Tipo:</strong></dt>
                    <dd><%= @work.tipo %></dd>
                    <br/>
                    <dt><strong>Titulo:</strong></dt>
                    <dd><%= @work.titulo %></dd>
                    <br/>
                    <dt><strong>Autores:</strong></dt>
                    <dd><%= @work.autores %></dd>
                    <br/>
                    <dt><strong>Descripción:</strong></dt>
                    <dd><%= @work.descripcion %></dd>
                    <br/>
                    <dt><strong>Horas:</strong></dt>
                    <dd><%= @work.horas %></dd>
                    <br/>
                    <dt><strong>Fecha inicio:</strong></dt>
                    <dd><%= @work.fecha_i %></dd>
                    <br/>
                    <dt><strong>Fecha fin:</strong></dt>
                    <dd><%= @work.fecha_f %></dd>
                    <br/>
                    <dt><strong>Año periodo:</strong></dt>
                    <dd><%= @work.ano_periodo %></dd>
                    <br/>
                   <dt><strong>Creador por:</strong></dt>
                    <dd> <p class="text-uppercase"><%= @userr.nombre1 %>&nbsp;<%= @userr.apellido1 %> </p></dd>
                    <br/>
                    
                  </dl>

                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <p>
                         <ins> <h3><b>Investigadores asociados a la actividad:</b> </h3></ins>
                          </p>
                          <br/>
                          <ul>
                          <% @work.users.each do |user| %>
                          <div class="col-lg-3">
                            <h4> <li> <p class="text-uppercase"> <b><%= user.nombre_apellido %></b> </p> </li> </h4>
                            </div>
                          <% end %>
                          </ul>
                  </div></div>

                  <br/> <br/><br/>
                     <div class="row">
                      <div class="col-lg-4 col-lg-offset-4"> 
                         
                         
                       </div>
                     </div>

                  <br/> 
            
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 

