<%= form_for @coference, :html => { :class => "form-horizontal coference" } do |f| %>

    <% if @coference.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@coference.errors.count, "error o errores") %> al guardar la actividad:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @coference.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


<div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b>Registro: &nbsp;   Conferencias o ponencias</b></h3>
              </div>
         <div class="panel-body">

           <br/>
        <div class="row">
           <div class="col-lg-3 col-lg-offset-1">
             <p class="bg-danger text-danger text-center">Los campos con (*) son obligatorios.</p>
             </div>
            </div>
          <br/>

            <div class="row">

                  <div class="col-lg-3 col-lg-offset-1">

                      <div class="control-group">
                        <%= f.label :tipo, "Tipo:", :class => 'control-label' %>
                        <div class="controls">
                        <select required name="coference[tipo]" class='form-control' >

                            <option  disabled="disabled" selected="selected">SELECCIONE</option>
                            <option value="Conferencia">Conferencia</option>
                            <option value="Ponencia">Ponencia</option>
                         </select>

                      </div><p class="text-danger">(*)</p>
                        <%= error_span(@coference[:tipo]) %>
                      </div>  
                  </div>


                  <div class="col-lg-2 col-lg-offset-1">
                           <div class="control-group">
                            <%= f.label :horas, "Horas Dedicadas:" ,:class => 'control-label' %>
                            <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                              <%= f.number_field :horas, :class => 'form-control' , min: 1, max: 10000, required: "true" %>
                            </div>
                            <%= error_span(@coference[:horas]) %>
                          </div>
                  </div> 

                  <div class="control-group col-lg-2 col-lg-offset-1">
                        <%= f.label :ano_periodo, "Período:", :class => 'control-label' %>
                        <div class="controls">
                           <%= f.select :ano_periodo, Period.where(estatus: 'Activo').order(ano_periodo: :asc).collect {|p| [ p.ano_periodo, p.id ] },{include_blank: true } , {class: "form-control"} %>
                        </div><p class="text-danger">(*)</p>
                        <%= error_span(@coference[:ano_periodo]) %>
                  </div>
            </div>
          
            <div class="row">
                <div class="control-group col-lg-8 col-lg-offset-1">
                  <%= f.label :titulo , "Titulo:",  :class => 'control-label'%><br>
                    <div class="controls">
                      <%= f.text_field :titulo, :class => 'form-control', required: "true" %>
                    </div><p class="text-danger">(*)</p>
                    <%= error_span(@coference[:titulo]) %>
                  </div>
            </div>
          
             <div class="row">
               <div class="col-lg-3 col-lg-offset-1">
                      <div class="control-group">
                        <%= f.label :evento, "Evento:", :class => 'control-label' %>
                        <div class="controls">
                        <select required name="coference[evento]" class='form-control' >

                            <option  disabled="disabled" selected="selected">SELECCIONE</option>
                            <option value="Nacional">Nacional</option>
                            <option value="Internacional">Internacional</option>
                             
                         </select>

                      </div><p class="text-danger">(*)</p>
                        <%= error_span(@coference[:evento]) %>
                      </div>  
                </div>
            </div>
         
             
              <div class="row">
                  <div class="control-group col-lg-3 col-lg-offset-1">
                              <%= f.label :fecha_i,"Fecha Inicio:", :class => 'control-label' %>
                               <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                <%= f.text_field :fecha_i, :class => 'form-control datepicker', min: "2016-01-01", required: "true", placeholder: "dd/mm/yyyy" %>
                              </div><p class="text-danger">(*)</p>
                              <%= error_span(@coference[:fecha_i]) %>
                        </div>

                       <div class="control-group col-lg-3 col-lg-offset-1">
                              <%= f.label :fecha_f, "Fecha Fin:",:class => 'control-label' %>
                               <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                <%= f.text_field :fecha_f, :class => 'form-control datepicker', max: Date.today , placeholder: "dd/mm/yyyy"%>
                              </div>
                              <%= error_span(@coference[:fecha_f]) %>
                       </div>

             </div>        

            <div class="row">

                  <div class="col-lg-9 col-lg-offset-1">

                      
                      <div class="control-group">
                        <%= f.label :descripcion, "Descripción:", :class => 'control-label' %>
                        <div class="controls">
                   
                          <%= f.text_area :descripcion,"cols" => 10, "rows" => 4, :class => 'form-control', required: "true"%>
                        </div>
                        <%= error_span(@coference[:descripcion]) %>
                      </div>
                </div>
              </div>
                  <br/><br/>

          
                <div class="control-group">
               
                      <%= f.hidden_field :creador, :value => current_user.id %>
               </div>
                  

                  
               <div class="row">
                    <div class="col-lg-5 col-lg-offset-4"> 
                       <%= link_to 'Regresar', menu_extension_1_path , :class=> 'btn btn-primary active'%>
                       &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Registrar' , :class => 'btn btn-success btn-lg active' %>
                         &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Borrar', type: :reset , :class => 'btn btn-primary active' %>
                     </div>
              </div>

                <br/> 


            
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 




<% end %>
