
<%= bootstrap_form_for @user, url: administrar_cambiar_clave_path(@user), layout: :horizontal,  method: :post do |f| %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 ">
      <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title"> <b>Introduzca la nueva contraseña</b></h3>
          </div>
        <div class="panel-body">

         <br/>
         <br/>
        
         <div class="row">
            <div class="control-group col-lg-6 col-lg-offset-2 ">
               <%= f.password_field :password, :class => 'form-control', placeholder: "Nueva contraseña", required: "true" , hide_label: "true"%>
               <br/>
               <%= f.password_field :password_confirmation, :class => 'form-control', placeholder: "Confirme la nueva contraseña", required: "true" , hide_label: "true" %>
            </div>
            </div>  
               
            <%= f.hidden_field :id, :value => @user.id %>

              <br/>  <br/>    
             
              <div class="row">
                    <div class="col-lg-6 col-lg-offset-3"> 
                       <%= link_to 'Regresar', usuarios_listar_path , :class=> 'btn btn-primary active'%>
                       &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Registrar' , :class => 'btn btn-success btn-lg active' %>
                         &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Borrar', type: :reset , :class => 'btn btn-primary active' %>
                     </div>
              </div>

            <br/>  <br/>
            
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 



<% end %>