
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b> Seleccione el tipo de actividad que desea buscar</b></h3>
              </div>
         <div class="panel-body">
<br/> 
	               <div class="row ">
	               	  <div class="col-lg-7 col-lg-offset-3 ">
			  			<div class="btn-group">
						  <button type="button" class="btn btn-info btn-md"> <b>Actividades de investigación </b></button>
						  <button type="button" class="btn btn-info btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><%= link_to investigacion_proyecto_buscar_menu_path do %> Proyectos <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to investigacion_publicacion_buscar_menu_path do %> Publicaciones <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to investigacion_otra_buscar_menu_path do %> Otras actividades <% end %></li>
						    
						  </ul>
						</div>
					   </div>
				  	</div>
<br/> 

                <div class="row ">
	               	  <div class="col-lg-7 col-lg-offset-3 ">
			  			<div class="btn-group">
						  <button type="button" class="btn btn-info btn-md"><b>Actividades de docencia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></button>
						  <button type="button" class="btn btn-info btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><%= link_to docencia_asignatura_buscar_menu_path do %> Dictado de asignaturas <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to docencia_tutoria_buscar_menu_path do %> Tutorías <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to docencia_trabajos_buscar_menu_path do %> Jurado <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to docencia_otra_buscar_menu_path do %> Otras actividades <% end %></li>
						    
						  </ul>
						</div>
					   </div>
				  	</div>
                		
<br/> 
					
					 <div class="row ">
	               	  <div class="col-lg-7 col-lg-offset-3 ">
			  			<div class="btn-group">
						  <button type="button" class="btn btn-info btn-md"><b>Actividades de extensión &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></button>
						  <button type="button" class="btn btn-info btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><%= link_to extension_conferencia_o_ponencia_buscar_menu_path do %> Conferencia o ponencias <% end %></li>
						    <li role="separator" class="divider"></li>
						    <li><%= link_to extension_otra_buscar_menu_path do %> Otras actividades <% end %></li>
						    
						  </ul>
						</div>
					   </div>
				  	</div>
               
<br/> 
					<div class="row ">
	               	  <div class="col-lg-7 col-lg-offset-3 ">
			  			<%= link_to mejoramiento_y_capacitacion_buscar_menu_path do %> 
						  <button type="button" class="btn btn-info btn-md"><b>Mejoramiento y capacitación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></button>
						  <% end %>
						</div>
				  	</div>
                
<br/> 						

					<div class="row ">
	               	  <div class="col-lg-7 col-lg-offset-3 ">
			  			<%= link_to academico_administrativo_buscar_menu_path do %> 
						  <button type="button" class="btn btn-info btn-md"><b>Académico administrativas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></button>
						  <% end %>	
						  
						</div>
				  	</div>	
<br/>
         </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  -->

