<%= form_for @proyect, :html => { :class => "form-horizontal proyect" } do |f| %>

    <% if @proyect.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@proyect.errors.count, "error o errores") %> al guardar la actividad:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @proyect.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b>Registro: &nbsp;   Proyectos </b></h3>
              </div>
         <div class="panel-body">

         <br/>
         <div class="row">
           <div class="col-lg-3 col-lg-offset-1">
             <p class="bg-danger text-danger text-center">Los campos con (*) son obligatorios.</p>
             </div>
            </div>
            <br/>

            <div class="row">
                 <div class="control-group col-lg-7 col-lg-offset-1">
                    <%= f.label :titulo,"Titulo:", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :titulo, :class => 'form-control', required: "true" %>
                    </div><p class="text-danger">(*)</p>
                    <%= error_span(@proyect[:titulo]) %>
                  </div>
            
            </div>

   
            <div class="row">
                 <div class="control-group col-lg-3 col-lg-offset-1">
                    <%= f.label :estatus, "Estatus:",:class => 'control-label' %>
                    
                          <div class="controls">
                            <select required name="proyect[estatus]" class='form-control' >
                              <option  disabled="disabled" selected="selected">SELECCIONE</option>
                              <option value="En Espera de Aprobación">En Espera de Aprobación</option>
                              <option value="En desarrollo">En desarrollo</option>
                              <option value="Culminado">Culminado</option>
                             </select>
                           </div><p class="text-danger">(*)</p>
                     </div>
                    
                  <div class="control-group col-lg-2 col-lg-offset-1">
                    <%= f.label :ente_financista,"Ente financista:", :class => 'control-label' %>
                     <div class="controls">
                            <select required name="proyect[ente_financista]" class='form-control' >
                              <option  disabled="disabled" selected="selected">SELECCIONE</option>
                              <option value="CDCH-UCV">CDCH-UCV</option>
                              <option value="FONACIT">FONACIT</option>
                              <option value="MPPEUCT">MPPEUCT</option>
                              <option value="Otro">Otro</option>
                             </select>
                    </div><p class="text-danger">(*)</p>
                    <%= error_span(@proyect[:ente_financista]) %>
                  </div>

                  <div class="control-group col-lg-3 col-lg-offset-1">
                  <%= f.label :monto,"Monto financiado:" ,:class => 'control-label' %>
                  <div class="controls input-group">
                  <span class="input-group-addon" id="basic-addon1">Bs</span>
                   <%= f.number_field :monto, :class => 'form-control' , in: 1.00..1000000000000.00, step: 0.5,  placeholder: "1000.00" %>
                  
                  </div>
                  <%= error_span(@proyect[:monto]) %>
                </div>

            
            </div>

       
                 <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                  <div class="control-group">
                      <%= f.label :fecha_i,"Fecha inicio:", :class => 'control-label' %>
                      <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                        <%= f.text_field :fecha_i, :class => 'form-control datepicker', min: "2016-01-01", required: "true", placeholder: "dd/mm/yyyy"  %>
                      </div><p class="text-danger">(*)</p>
                      <%= error_span(@proyect[:fecha_i]) %>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="control-group">
                      <%= f.label :fecha_f, "Fecha fin:",:class => 'control-label' %>
                      <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                        <%= f.text_field :fecha_f, :class => 'form-control datepicker', max: Date.today, placeholder: "dd/mm/yyyy" %>

                      </div>
                      <%= error_span(@proyect[:fecha_f]) %>
                    </div>
              </div>
            </div>

      
          
            <div class="row">
                <div class="control-group col-lg-2 col-lg-offset-1">
                  <%= f.label :horas, "Horas dedicadas:",:class => 'control-label' %>
                  <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span> 
                    <%= f.number_field :horas, :class => 'form-control' , min: 1, max: 10000, required: "true" %>
                  </div>
                  <%= error_span(@proyect[:horas]) %>
                </div>
               
                <div class="control-group col-lg-2 col-lg-offset-1">
                  <%= f.label :ano_periodo, "Periodo",:class => 'control-label' %>
                  <div class="controls">
                  <%= f.select :ano_periodo, Period.where(estatus: 'Activo').order(ano_periodo: :asc).collect {|p| [ p.ano_periodo, p.id ] },{include_blank: true } , {class: "form-control"} %>
                  </div><p class="text-danger">(*)</p>
                  <%= error_span(@proyect[:ano_periodo]) %>
                </div>

                <div class="control-group col-lg-3 col-lg-offset-1"> 
               <%= f.label :grupo_o_individual,"Seleccione si es en grupo o individual:", :class => 'control-label' %>
                       <div class="controls">
                              <select required name="proyect[grupo_o_individual]" class='form-control' >
                                <option  disabled="disabled" selected="selected">SELECCIONE</option>
                                <option value="Grupo">Grupo</option>
                                <option value="Individual">Individual</option>
                               </select>
                      </div><p class="text-danger">(*)</p>
                    <%= error_span(@proyect[:grupo_o_individual]) %>
             </div>
            
            </div>
           

            <div class="row">
                  <div class="control-group col-lg-4 col-lg-offset-1"> 
                  <%= f.label :investigador_responsable, "Investigador responsable:" ,:class => 'control-label' %>
                     <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span> 
                        <%= f.select :investigador_responsable, User.all.collect {|p| [ p.nombre_apellido, p.id ] },{include_blank: true } , {class: "form-control"} %>
                     </div><p class="text-danger">(*)</p>
                     <%= error_span(@proyect[:investigador_responsable]) %>
                    </div>

                    <div class="control-group col-lg-4 col-lg-offset-1">
                    <%= f.label :co_investigador,"Co-investigador:", :class => 'control-label' %>   
                      <div class="control input-group input-group">
                          <span class="input-group-addon"  > <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>  
                        <%= f.select :co_investigador, User.all.collect {|p| [ p.nombre_apellido, p.id ] },{include_blank: true } , {class: "form-control"}  %>
                         </div><p class="text-danger">(*)</p>
                     <%= error_span(@proyect[:co_investigador]) %>
                    </div>

              </div>

           
             <div class="row">
                <div class="control-group col-lg-9 col-lg-offset-1">
                  <%= f.label :integrantes, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :integrantes, :class => 'form-control', placeholder: "Integrante 1, integrante 2, integrante 3 ..." %>
                  </div>
                  <%= error_span(@proyect[:integrantes]) %>
                </div>
            
            </div>

             <br/>
         
            <div class="row">
                 <div class="control-group col-lg-9 col-lg-offset-1">
                    <%= f.label :descripcion, "Descripción:", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_area :descripcion,"cols" => 9, "rows" => 5, :class => 'form-control', required: "true" %>
                    </div>
                    <%= error_span(@proyect[:descripcion]) %>
                  </div>
            
            </div>
         
           
                <div class="control-group">
                  <%= f.hidden_field :creador, :value => current_user.id %>
                </div>

      <br/><br/>
            

                <div class="row">

                    <div class="col-lg-4 col-lg-offset-4"> 
                       <%= link_to 'Regresar', menu_investigacion_1_path , :class=> 'btn btn-primary active'%>
                       &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Registrar' , :class => 'btn btn-success btn-lg active' %>
                         &nbsp;&nbsp;&nbsp;
                        <%= f.submit 'Borrar', type: :reset , :class => 'btn btn-primary active' %>
                     </div>
              </div>
            <br/> 
            
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 


<% end %>
