<%- model_class = Proyect -%>
<div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b> Consulta: &nbsp; Proyectos </b></h3>
              </div>
         <div class="panel-body">

                <br/><br/>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
              
                  <button class="btn btn-success" type="button">
                 <b> ACTIVIDADES ENCONTRADAS </b><span class="badge"><%=@resultados %></span>
                </button>
               
            </div>    
              <div class="col-lg-4 col-lg-offset-1">    
                  <ul class="nav nav-tabs nav-justified">
                  
                   <% if @proyects.blank? %>
                       <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", investigacion_proyecto_resultados_path(@proyects, :format => 'pdf'), :method=> :post, :class=> 'btn btn-info  active', disabled: true %></li>
                    <%else%>
                        
                          <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", investigacion_proyecto_resultados_path(@proyects, :opcion => @opcion,:opc => @opc,  :user_ids =>@user_id, :search=>@search, :estatus=> @estatus, :ano_periodo=>@ano_periodo ,:fecha_desde=> @fecha_desde, :fecha_hasta=>@fecha_hasta,
                           :format => 'pdf'), :method=> :post, :class=> 'btn btn-info  active' %></li>
                    <% end %>
                      
                </ul>
              </div>
          </div>
                <br/>
    <% unless @proyects2.blank? %> 
          <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
            <%= paginate @proyects2, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
            </div>
            </div>
    <%end%>
<table class="table table-striped">
                        <thead>
                          <tr>
                            <th><%= model_class.human_attribute_name("Id") %></th>
                            <th style="width: 50%"><%= model_class.human_attribute_name("Titulo") %></th>
                            <th><%= model_class.human_attribute_name("Estatus") %></th>
                            <th><%= model_class.human_attribute_name("Fecha Inicio") %></th>
                            
                            <th><%=t '.actions', :default => t("helpers.Acción") %></th>
                          </tr>
                        </thead>
                         <tbody>
                            <br/>
                            <% if @proyects.blank? %>
                              <h4> <b>&nbsp;&nbsp; No se encontro ninguna actividad para esta busqueda </b></h4>
                              <br/>
                            <%else%>
                          <% @proyects.each do |proyect| %>
                            <tr>
                              <td><%= link_to proyect.id, proyect_path(proyect) %></td>
                              <td><%= proyect.titulo %></td>
                                <td><%= proyect.estatus %></td>
                             <td><%= proyect.fecha_i %></td>
                              
                              <td>
                              
                                <%= link_to 'Mostrar', investigacion_proyecto_ver2_path(proyect) , :class=> 'btn btn-info btn-xs active'%>
                                  <% if current_user.rol == "administrador" %>
                                    <%= link_to 'Editar', investigacion_proyecto_modificar_path(proyect) , :class=> 'btn btn-warning btn-xs active'%>
                                     <%= link_to 'Eliminar', proyect, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar la actividad?' }, :class=> 'btn btn-danger btn-xs active'%>
                                   <% end %>   
                              </td>
                            </tr>
                          <% end %>
                          <% end %>
                        </tbody>
                      </table>
<% unless @proyects2.blank? %>
              <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
              <%= paginate @proyects2, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
             </div>
          </div>
  <%end%>
       <br/>
               <br/>
               <div class="row">
                  <div class="col-lg-6 col-lg-offset-5">
                  <%= link_to 'Regresar', investigacion_proyecto_buscar_menu_path , :class=> 'btn btn-success btn-md active'%>
                         &nbsp;&nbsp;&nbsp;
              </div>
              </div>
   </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 