<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> <b>Resumen totalizador de asignaturas de postgrado y pregrado</b></h3>
            </div>
              <div class="panel-body">

<br/>
    <div class="row">
            <div class="col-lg-5 col-lg-offset-1">

                   <button class="btn btn-success" type="button">
                 <b> Cantidad total de asignaturas  </b><span class="badge"><%=@resultados %></span>
                </button>
               
            </div>    
              <div class="col-lg-3 col-lg-offset-1">    
                  <ul class="nav nav-tabs nav-justified">
                  
                  
                       <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", herramientas_tabla_resumen_totalizador_de_asignaturas_de_postgrado_pregrado_path(@cantidad_de_postgrado, @cantidad_de_pregrado, :format => 'pdf'), :class=> 'btn btn-info  active' %></li>
                      
                      
                       
                </ul>
              </div>
          </div>
          
                <br/>
         
          <div class="row">
              
                    <div class="col-lg-5 col-lg-offset-3">   
                      

                        <table class="table   table-bordered">
                          <thead>
                            <tr class="info">
                            <td style="width: 30%"><strong> CANTIDAD</strong></td>
                             <th class="text-center" style="width: 70%">TIPO DE ASIGNATURA</th>
                             </tr>
                          </thead>

                          <tbody>
                            <tr>
                                <td><%= @cantidad_de_postgrado%></td>
                                <td class="text-center"> <%= link_to "Postgrado", herramientas_tabla_oferta_de_asignatura_de_postgrado_path, :class=> 'btn btn-default btn-xs  ' %></td>
                            </tr>
                            <tr>
                                <td><%= @cantidad_de_pregrado%></td>
                                <td class="text-center">  <%= link_to "Pregrado", herramientas_tabla_oferta_de_asignatura_de_pregrado_path, :class=> 'btn btn-default btn-xs  ' %></td>
                            </tr>
                                
                            
                          </tbody>
                        </table>
                    <br> 

                </div>
                  <div class="row">
                  <div class="col-lg-6 col-lg-offset-5">
                  <%= link_to 'Regresar', herramientas_tablas_path , :class=> 'btn btn-success btn-md active'%>
                         &nbsp;&nbsp;&nbsp;
                   </div>
                </div>
               

            
            </div>

            </div>
    </div>
    


  </div>
</div>