<%- model_class = Teaching -%>

<div class="row">
  <div class="col-lg-12 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b> Consulta: &nbsp;Otras actividades de docencia</b></h3>
              </div>
         <div class="panel-body">

                <br/><br/>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
              
                  <button class="btn btn-success" type="button">
                 <b> ACTIVIDADES ENCONTRADAS </b><span class="badge"><%=@resultados %></span>
                </button>
               
            </div>    
              <div class="col-lg-4 col-lg-offset-1">    
                  <ul class="nav nav-tabs nav-justified">
                  
                       <% if @teachings.blank? %>
                        <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", docencia_otra__resultados_path(@teachings, :format => 'pdf'), :method=> :post, :class=> 'btn btn-info  active', disabled: true %></li>
                      <%else%>
                          <li role="presentation"><%= link_to "GENERAR DOCUMENTO (PDF)", docencia_otra__resultados_path(@teachings, :opcion => @opcion, :user_ids =>@user_id, :search=>@search, :tipo=> @tipo, :ano_periodo=>@ano_periodo ,:fecha_desde=> @fecha_desde, :fecha_hasta=>@fecha_hasta, :format => 'pdf'), :method=> :post, :class=> 'btn btn-info  active' %></li>
                      <% end %>
                      
                </ul>
              </div>
          </div>
                <br/>
          <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
            <%= paginate @teachings, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
            </div>
            </div>

              <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><%= model_class.human_attribute_name("Id") %></th>
                            <th style="width: 15%"><%= model_class.human_attribute_name("Tipo") %></th>
                           <th style="width: 55%"><%= model_class.human_attribute_name("Nombre") %></th>
                            <th><%= model_class.human_attribute_name("Fecha Inicio") %></th>
                            <th><%=t '.actions', :default => t("helpers.Acción") %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <br/>
                          <% if @teachings.blank? %>
                            <h4> <b> &nbsp;&nbsp;No se encontro ninguna actividad para esta busqueda </b></h4>
                            <br/>
                          <%else%>

                          <% @teachings.each do |teaching| %>
                            <tr>
                              <td><%= link_to teaching.id, teaching_path(teaching) %></td>
                              <td><%= teaching.tipo %></td>
                              <td><%= teaching.nombre %></td>
                              
                              <td><%= teaching.fecha_i %></td>
                              
                              <td>
                              
                                <%= link_to 'Mostrar', docencia_otra_ver2_path(teaching) , :class=> 'btn btn-info btn-xs active'%>
                                   <% if current_user.rol == "administrador" %> 
                                    <%= link_to 'Editar', docencia_otra_modificar_path(teaching) , :class=> 'btn btn-warning btn-xs active'%>
                                     <%= link_to 'Eliminar', teaching, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar la actividad?' }, :class=> 'btn btn-danger btn-xs active'%>
                                     <% end%>
                              </td>
                            </tr>
                          <% end %>
                          <% end %>
                        </tbody>
                      </table>
<div class="row">
            <div class="col-lg-7 col-lg-offset-3">
              <%= paginate @teachings, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-md pagination-centered" %>
             </div>
          </div>
       <br/>
               <br/>
               <div class="row">
                  <div class="col-lg-6 col-lg-offset-5">
                  <%= link_to 'Regresar', mejoramiento_y_capacitacion_buscar_menu_path , :class=> 'btn btn-success btn-md active'%>
                         &nbsp;&nbsp;&nbsp;
              </div>
              </div>
   </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 